@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: linear-gradient(170deg, rgba(3, 10, 23, 0.8) 20%, rgba(50, 52, 57, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #000510;
    font-family: sans-serif;
  }

.nav{
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 12px;
    float: right;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    height: 200px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 4px rgba(255, 255, 255, 0.2);
    margin: 10px;
  }

.btn{
    background: transparent;
    color: white;
    border-radius: 4px;
    border-color: white;
    font-size: 20px;
    padding: 13px;
    margin: 10px;
}

#elementEl::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
